$black: #111111;
$black-100: #333333;
$grey: #575757;
$grey-200: #F3F3F4;
$grey-300: #EBEBEC;
$grey-400: #E1E1E1;
$accent: #FF9514;
$white: #fff;

$screen-sm-min: "(max-width: 767px)";

$screen-md-min: "(min-width: 768px) and (max-width: 1119px)";

$screen-lg-min: "(min-width: 1120px) and (max-width: 1439px)";

$screen-xl-min: "min-width: 1440px";